# JetBrains
.idea/

# VS Code
.vscode/


# Python
__pycache__/

# Flask
instance/
.webassets-cache

# Environments
.venv

# Poetry local configuration file - https://python-poetry.org/docs/configuration/#local-configuration
poetry.toml

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
