name: Backend CI

on:
  push:
    branches: [ master, dev ]
    paths: ['backend/**']
  pull_request:
    branches: [ master ]
    paths: ['backend/**']
  workflow_dispatch:

jobs:
  backend-ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10" ]
    defaults:
      run:
        shell: bash
        working-directory: backend
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Check formatting
        run: |
          pip install black
          black . --check -l 120
      - name: Check types
        run: |
          pip install mypy
          python -m pip install types-requests
          mypy --ignore-missing-imports .
      - name: Run tests
        run: |
          pip install pytest
          pytest backend/test/test.py
