name: Streamlit Frontend CI

on:
  push:
    branches: [ master, dev ]
    paths: ['frontend_streamlit/**']
  pull_request:
    branches: [ master ]
    paths: ['frontend_streamlit/**']
  workflow_dispatch:

jobs:
  frontend-streamlit-ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10" ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Check types
        run: |
          pip install mypy
          python -m pip install types-requests
          mypy --ignore-missing-imports frontend_streamlit/src
      - name: Run tests
        run: |
          pip install pytest
          pytest frontend_streamlit/test/test.py
